<% unless user_document.state %>
<div class="upcoming-card__data">
  <div class="upcoming-card__title">
    <%= link_to user_document.document.company_name,
    user_document_path(user_document), class: "upcoming-card__link", method:
    :get %>
  </div>
  <div class="upcoming-card__content">
    Due on
    <span class="upcoming-card__date">
      <%= user_document.due_date.strftime("%b %d %Y") %>
    </span>
  </div>
  <div class="upcoming-card__content">
    Amount due
    <span class="upcoming-card__date">
      <%= number_with_delimiter(user_document.current_due_amount) %>¥
    </span>
  </div>
  <%= button_to "Mark As Paid", pay_user_document_path(user_document), method:
  :patch, class: "button is-small z-index", remote: true, id:
  "#{user_document.id}-paid-document" %>
</div>
<% end %>
