<% unless user_document.state %>
  <%= link_to "view", user_document_path(user_document), class: "upcoming-card__link", method: :get %>
  <div class="upcoming-card__title">
    <%= user_document.document.company_name %>
  </div>
  <div class="upcoming-card__content">
    Due on 
    <span class="upcoming-card__date">
      <%= user_document.due_date.strftime("%b %d %Y") %>
    </span>
  </div>
  <%= link_to "paid", pay_user_document_path(user_document), method: :patch,
  remote: true, id: "#{user_document.id}-paid-document" %>
<% end %>

