<h1>UserDocument#creation_confirmation</h1>

<p>Hi <%= @user_document.user.username%>, you've added <%= @user_document.title %> bill to your logs</p>
<p>We will remind you to pay your bills 10 days before the due date which will be on  <%=@user_document.reminder_date.strftime("%B %e %Y")%></p>
