<h1>UserDocument#creation_confirmation</h1>

<p>Hi <%= @user_document.user.username%>, you've added <%= @user_document.title %> bill to your app</p>
<p>we will remind you again on <%=@user_document.reminder_date%> to pay your next bill </p>
