<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/jackwuersch/Expat-Unlocked" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    bill JP brought to you by Ivan, Isaac, Jack & Sherly

  </div>
</div>
