<section class="banner">
  <div class="container">
    <div class="banner__header center-content">
      <h1 class="banner__heading">Xpat Unlocked</h1>
      <p class="banner__slogan">Japanese bills can be stressful. We're here to help</p>

    </div>
  </div>
