<% content_for(:navbar_class, "navbar-home")%>
<div class="wrapper">
  <div class="banner">
    <div class="banner__header">
      <h1 class="banner__heading">
        xpat unlocked
      </h1>
      <p class="banner__slogan">Need help with Japanese bills?</p>
    </div>
  </div>
</div>
<section class="site-feature">
  <div class="main-card center-content">
    <div class="card-icon">
      <i class="material-icons">
        linked_camera
      </i>
    </div>
    <div class="card-body">
      <%= link_to "Take a photo of a Japanese bill and get a translation", scan_info_path %>
    </div>
  </div>
</section>
<section class="site-feature colored">
  <div class="main-card center-content">
    <div class="card-icon">
      <i class="material-icons">
        alarm
      </i>
    </div>
    <div class="card-body">
      <p>Keep track of when your bills are due</p>
    </div>
  </div>
</section>
