<% content_for(:navbar_class, "navbar-home")%>
<div class="wrapper">
  <div class="banner">
    <div class="banner__header">
      <h1 class="banner__heading">
        <%= image_tag 'logo.png', class: "logo" %>xpat unlocked
      </h1>
      <p class="banner__slogan">Need help with Japanese bills?</p>
      <a class="scroll-button center" href="#">
        <i aria-hidden="true" data-x-icon="" class="x-icon-angle-down"></i>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="main-card center-content">
      <i class="material-icons">
        linked_camera
      </i>
      <p>blank test</p>
    </div>
  </div>
  <div class="container">
    <div class="main-card center-content">
      <i class="material-icons">
        alarm
      </i>
      <p>blank test</p>
    </div>
  </div>
</div>
