<section class="banner">
  <div class="container">
    <div class="banner__header center-content">
      <h1 class="banner__heading">Xpat Unlocked</h1>
      <p class="banner__slogan">Japanese bills can be stressful. Let us help.</p>

    </div>
  </div>

<%= simple_form_for(@user_document) do |f| %>
  <!-- [...] -->
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit %>
<% end %>
