<% content_for(:navbar_class, "navbar-home")%>
<section class="banner">
  <div class="container">
    <div class="banner__header center-content">
      <h1 class="banner__heading">Xpat Unlocked</h1>
      <p class="banner__slogan">Japanese bills can be stressful. Let us help.</p>
      <a class="scroll-button center" href="#">
        <i aria-hidden="true" data-x-icon="" class="x-icon-angle-down"></i>
      </a>

    </div>
  </div>
</section>
<section>
    <div class="container">
      <div class="take-photo">
        SCAN
      </div>
      <div class="records">
        PROFILE
      </div>
    </div>
</section>
