<% content_for(:navbar_class, "navbar-home")%>
<div class="wrapper">
  <div class="banner">
    <div class="banner__header center-content">
      <h1 class="banner__heading"><%= image_tag 'logo.png', class: "logo" %>xpat unlocked</h1>
      <p class="banner__slogan">Need help with Japanese bills?</p>
      <a class="scroll-button center" href="#">
        <i aria-hidden="true" data-x-icon="" class="x-icon-angle-down"></i>
      </a>

    </div>
  </div>

<section class="main-body">
    <div class="container-body">
      <div class="heading">
        <h1>What we do.</h1>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <a href="#" class="thumbnail">
            <img src="..." alt="...">
          </a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="#" class="thumbnail">
            <img src="..." alt="...">
          </a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="#" class="thumbnail">
            <img src="..." alt="...">
          </a>
        </div>
      </div>
    </div>
</section>
