<% content_for(:navbar_class, "navbar-home")%>
<div class="wrapper">
  <div class="banner">
    <div class="banner__header">
      <h1 class="banner__heading">
        xpat unlocked
      </h1>
      <p class="banner__slogan">Japanese bill recognition</p>
    </div>
  </div>
</div>
<section class="site-feature scan">
  <div class="main-card center-content" style="width: 20rem">
      <%= link_to scan_info_path do %>
    <div class="card-icon">
      <i class="material-icons">
        linked_camera
      </i>
    </div>
    <% end %>
    <div class="card-footer">
      <p>
        <strong>Recognition.</strong> Upload a photo of a Japanese bill and find
        out what it is in seconds.
      </p>
    </div>
    </div>
</section>


<section class="site-feature colored track">
  <div class="main-card center-content" style="width: 20rem">
      <%= link_to profile_path(current_user) do %>
  <div class="card-icon">
    <i class="material-icons">
      alarm
    </i>
  </div>
  <% end %>
  <div class="card-footer">
    <p><strong>Pay on time.</strong> With our easy-to-use due payments tracker.</p>
  </div>
</div>
</div>
</section>

<section class="site-feature city-location">
  <div class="main-card center-content" style="width: 20rem">
    <%= link_to profile_path(current_user) do %>
      <div class="card-icon">
        <i class="material-icons">
          location_on
        </i>
      </div>
      <% end %>
      <div class="card-footer">
        <p><strong>Locate.</strong> Find out where your nearest city hall is.</p>
      </div>
    </div>
  </div>
</section>
