<% content_for(:navbar_class, "navbar-home")%>
<div class="wrapper">
  <div class="banner">
    <div class="banner__header">
      <h1 class="banner__heading">
        xpat unlocked
      </h1>
      <p class="banner__slogan">Japanese bill recognition</p>
    </div>
  </div>
</div>
<section class="site-feature">
  <%= link_to scan_info_path do %>
  <div class="main-card center-content" style="width: 20rem">
    <div class="card-icon">
      <i class="material-icons">
        linked_camera
      </i>
    </div>
    <div class="description">
      <p>
        <strong>Recognition.</strong> Upload a photo of a Japanese bill and find
        out what it is in seconds.
      </p>
    </div>
  </div>
  <% end %>
</section>


<section class="site-feature colored">
  <div class="main-card center-content" style="width: 20rem">
    <div class="card-icon">
      <i class="material-icons">
        alarm
      </i>
    </div>
    <div class="description">
      <p><strong>Pay on time.</strong> Keep track of due payments easily.</p>
    </div>
  </div>
</section>
