<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h1>Scan Info</h1>
       <%= simple_form_for(@user_document) do |f| %>
          <%= f.input :photo, required: true,  as: :hidden%>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit "Check Document", id: "upload-button", class: "button is-inverted" %>
       <% end %>
    </div>
  </div>
</div>

<div class="col-sm-6 col-sm-offset-3" >
  <video id = "video" height = "500" ></video>
  <a href="#" id="capture" class= "button is-big" >Take Photo</a>
  <canvas id = "canvas" height = "300" ></canvas>
<!--
  <img id= "photo"src="http://www.scienceshorts.com/wp-content/uploads/2018/02/Hamster.jpg/" alt="document photo"> -->
  <script>
    (function () {
        var video = document.getElementById('video'),
          canvas = document.getElementById('canvas'),
          context = canvas.getContext('2d'),
          photo = document.getElementById('photo')
          vendorUrl = window.URL || window.webkitURL;

        navigator.getMedia =  navigator.getUserMedia ||
                              navigator.webkitGetUserMedia ||
                              navigator.mozGetUserMedia ||
                              navigator.msGetUserMedia
        navigator.getMedia({
          video: true,
          audio: false
        }, function(stream){
          video.srcObject=stream;
          video.play();
        }, function(error) {
          //an error occured
          //error.code
        });

        document.getElementById('capture').addEventListener('click', function () {
          context.drawImage(video, 0, 0, 400, 300);
          photo.setAttribute('src', canvas.toDataURL('image/png'));
        });
      })();
  </script>
</div>

