<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3"">

      <h1>Scan Info</h1>
      <%= button_to "Scan", class: "button", method: "get" %>
    </div>
  </div>
</div>

