@import "base";

.banner {
  background-image: linear-gradient(
      180deg,
      rgba(purple, 0.7),
      rgba(pink, 0.7)
    ),
    asset-url("banner.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
