// COLORS
$primary: rgb(142, 45, 226);
$secondary: rgb(248, 140, 51);

$btn-color: #6d83ff;

$white: white;
$black: black;

// FONTS
$default-font-size: 18px;
$heading-font-size: 48px;
$title-font: 'Hind', sans-serif;
$body-font: 'Open Sans', sans-serif;
$box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

body {
  font-family: $body-font;
  font-size: $default-font-size;
  background: $white;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.main-body {
  background: white;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-wrapper {
  background: $primary;
  padding: 10px 0;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 5px;
}
