// COLORS
$primary: #6927ff;
$secondary: rgb(248, 140, 51);

//other colors?
$blue: #837dff;
$pink: #bf81ff;
$yellow: #ffd581;

$white: white;
$black: black;

// FONTS
$default-font-size: 18px;
$heading-font-size: 48px;
$title-font: "Hind", sans-serif;
$body-font: "Open Sans", sans-serif;
$box-shadow: 0 2px 10px rgb(201, 201, 201);
// AVATAR

body {
  font-family: $body-font;
  font-size: $default-font-size;
  background: $white;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.main-body {
  background: white;
}


