.button {
  background: $secondary;
  border: none;
  border-radius: 5px;
  color: $white;
  height: 50px;
  font-size: $default-font-size;
  min-width: 120px;
  transition: opacity 0.2s ease-in-out;
}

.button:hover {
  opacity: 0.8;
}
