.document {
  display: flex;
  flex-wrap: wrap;
  box-shadow: $box-shadow;
  margin: 0 5px 20px 0;
  background: #ffffff;
  border-radius: 3px;
  transition: all 0.2s ease-in;
  &:hover {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.3);
    transform: translateY(4px);
  }
  & img {
    width: 100%;
  }
  &__header {
    flex: 0 0 100%;
    text-align: center;
    &:hover {
      opacity: 0.9;
    }
  }
  &__title {
    font-size: $heading-font-size;
  }

  &__body {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  &__data h5 {
    font-size: 25px;
    font-weight: bold;
  }
  &__data p {
    color: $primary;
    font-size: 20px;
    font-weight: bold;
  }
}

.tag {
  padding: 5px;
  color: white;
  border-radius: 4px;
}

.paid {
  background: $primary;
  & i {
    color: greenyellow;
  }
}

.unpaid {
  background: orange;
  & i {
    color: red;
  }
}
