.filter {
  &__form {
    background: $primary;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    & select {
      text-transform: uppercase;
      font-size: 18px;
    }
  }
}

.bills-list {
  &__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    position: relative;
    background: #fff;
    padding: 5px;
  }
  &__item::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background: rgb(175, 175, 175);
    height: 2px;
    width: 100%;
  }
  &__item > * {
    margin-right: 15px;
    padding: 10px 0;
    position: relative;
  }
  &__company {
    flex: 1;
  }
  &__due {
    font-family: $body-font;
    color: $primary;
    font-size: 20px;
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    &:hover {
      background: rgba(196, 196, 196, 0.096);
    }
  }
  &__paid {
    display: flex;
    align-items: center;
    z-index: 200;
    flex: 1;
    & > *:not(:last-child) {
      margin-right: 10px;
    }
  }
}
