#navigation {
  margin: 0px;
  background-color: #479bdf;
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & a {
    color: #fff;
    transition: opacity 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 23px 5px;
    transition: background 0.2s ease;
    &:hover {
      background: rgba($primary, 0.7);
    }
  }
  &__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & div:not(:last-of-type) {
      margin-right: 15px;
    }
  }

  &__hamburger {
    display: none;
  }
}

.navigation__drop {
  display: none;
}

.banner .row {
  text-align: center;
  margin-top: 50px;
}
.banner h1 {
  color: white;
}
.logo {
  height: 65px;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 101;
  opacity: 0;
  transform: translateY(-100px);
  animation: fadein 0.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.fadeout {
  animation: fadeout 0.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@media (max-width: 760px) {
  #navigation {
    &__right {
      display: none;
      position: relative;
    }
    &__hamburger {
      display: block;
      color: white;
    }
  }
  .dropdown {
    display: block;
    position: absolute;
    background: rgba($primary, 0.9);
    width: 100%;
    padding: 10px;
    top: 70px;
    left: 0;
    z-index: 9999;
    animation: slidein 0.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
    & a {
      display: block;
      padding: 20px;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
