.colored {
  background-color: rgba(105, 39, 255, 0.7);

}

.site-intro {
  display:block;
}

.site-feature {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scan {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0,0,0,0)
    ),
    asset-url("camera-photo-min.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.track {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0,0,0,0)
    ),
    asset-url("calendar-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.city-location {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0,0,0,0)
    ),
    asset-url("tokyo-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#canvas {
  width: 100%;
  display: none;
}

#video {
  width: 100%;
}

#photo {
  width: 100%;
  justify-content: center;
}
