.colored {
  background-color: rgba(105, 39, 255, 0.7);

}

.site-feature {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scan {
  background-image: url("camera-photo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.track {
  background-image: url("https://images.pexels.com/photos/60032/time-calendar-saturday-weekend-60032.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
