.upcoming-card {
  background: $primary;
  width: 50%;
  &__body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: #fff;
  }

  &__heading {
    flex: 1 1 100%;
    background: $secondary;
    color: #fff;
    padding: 15px 5px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    & h2 {
      font-size: 36px;
      margin: 0;
      font-weight: normal;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 5px;
  }
  &__content {
    font-size: 18px;
    font-weight: lighter;
    padding: 15px 5px;
  }
}
