
.user-document-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-document-info {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

// .50px-padding {
//   padding: 50px;
// }
