.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #fff;
  box-shadow: $box-shadow;
  transition: all 0.2s ease-in;
  overflow: hidden;
  &:hover {
    box-shadow: 0 4px 4px rgba(63, 63, 63, 0.3);
    transform: translateY(4px);
  }
  & .avatar {
    width: 120px;
    height: 120px;
    box-shadow: $small-box-shadow;
  }
  &__edit {
    background: $primary;
    margin-bottom: 5px;
    &:hover {
      color: #fff;
    }
  }
  &__title {
    color: rgb(44, 44, 44);
    font-size: 26px;
  }
}

@media screen and (max-width: 1000px) {
  .sticky {
    position: relative;
  }

  .margin-top-mobile {
    margin-top: 150px;
  }
}

.user-card-photo {
  width: 100%;
}
